<form action="/figures" method="post">
    Figure Name: <p><input id="figure_name" type="text" name="figure[name]"></p>
    
    Choose an existing title:
    <br></br>
    <% @titles.each do |title| %>
        <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %>
    <% end %>

    <br></br>
    and/or create a new one:
    <p><input id="new_title" type="text" name="title[name]"></p>

    Choose an existing landmark:
    <br></br>
    <% @landmarks.each do |landmark| %>
        <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %>
    <% end %>
    <br></br>
    and/or create a new one:
    <p><input id="new_landmark" type="text" name="landmark[name]"></p>
    
    <input type="submit" value="Create New Figure">
</form>